/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin-top: 56px; /* Adjust for fixed navbar */
    background-color: #f4f4f9;
    color: #333;
}

h1, h2 {
    color: #333;
}

h3, h4 {
    color: #f9f9f9;
}

a.nav-link {
    color: #ddd !important;
}

/* Header */
header {
    background: #f9f9f9;
    padding: 30px 0;
}

header img {
    width: 120px;
}

.header h1 {
    font-size: 2.5rem;
    margin-top: 10px;
}

/* Sections */
section {
    padding: 60px 0;
}

.bg-dark {
    background-color: #343a40 !important;
}

.text-light {
    color: #f1f1f1 !important;
}

.bg-light {
    background-color: #f9f9f9 !important;
}

/* Footer */
footer {
    background-color: #333;
    padding: 20px 0;
}

/* Weather Info */
#weather {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}
